*{
    padding: 0;
    margin: 0;

}

body
{
    font-family: Roboto;
    /* display: flex;
    flex-direction: column; */
    /* margin: 20px; */

}
.header
{
    color: #F9F8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header div{
    font-weight: bold;

    font-size: 24px;
}
.header-links
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 16px;
}
.top-container
{
    height: 45vh;
    padding: 0 100px;
    background-color: #1f2937;
}

.img-placeholder
{
    width: 340px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9F8FA;
    background-color: #474747;
    padding: 38px;
}
.big-header-content
{
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #F9F8FA;
    margin-top: 38px;
}
button
{
    /* flex-grow: 0; */
    width: 110px;
    height: 35px;
    border-radius: 6px;
    padding: 7px 12px;
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    border: none;
    font-size: 18px;

}
h1
{
    font-size: 48px;
}
p{
    font-size: 18px;
}
.secondary-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
    /* flex-wrap: wrap; */
}

/* mid container */

.mid-container
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}
.mid-container h1{
    font-size: 36px;
    margin: 30px;
}

.cards
{
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.card
{
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.border
{
    width: 120px;
    height: 120px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.quote
{
    background-color: #e5e7eb;
    /* width: 100vw; */
    margin-top: 150px;
    padding: 100px 150px;

}

.quote p, .quote span{
    font-style: italic;
    font-size: 36px;
    color: 1f2937;
    font-weight: lighter;
}

.quote .auth{
    /* width: 100vw; */
    font-size: 18px;
    margin-top: 50px;
    font-style: normal;
    font-weight: bold;
    text-align: end;
    
}

/* call to action */

.action-bar
{
    background-color: #3882f6;
    padding: 38px;
    display: flex;
    justify-content: space-around;
    color: #e5e7eb;
    margin: 100px;
    border-radius: 7px;
}


.action-bar .big-text
{
    font-size: 18px;
    font-weight: bold;
}
.small-text
{
    font-size: 16px;
}

.action-bar button
{
    border: 1px solid #F9F8FA;
}